{
  "swagger": "2.0",
  "info": {
    "description": "",
    "version": "1.0.0",
    "title": "Swagger GTMS"
  },
  "host": "master.geotags.pl",
  "basePath": "/api/v1",
  "tags": [
    {
      "name": "Auth",
      "description": "User login and registration service"
    },
    {
      "name": "Groups",
      "description": "Groups service"
    },
    {
      "name": "Notifications",
      "description": "Email and web push notifications service"
    }
  ],
  "schemes": ["https"],
  "paths": {
    "/auth/users/count": {
      "get": {
        "tags": ["Auth"],
        "summary": "Returns the current number of registered users",
        "description": "",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "counter": {
                  "type": "number"
                }
              },
              "example": {
                "counter": 510
              }
            }
          }
        }
      }
    },
    "/auth/users": {
      "post": {
        "tags": ["Auth"],
        "summary": "Register a new user",
        "description": "",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "surname": {
                  "type": "string"
                },
                "email": {
                  "type": "string",
                  "format": "email"
                },
                "phone": {
                  "type": "string"
                },
                "password": {
                  "type": "string"
                },
                "countryCode": {
                  "type": "string"
                },
                "languageCode": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "400": {
            "description": "Validation errors",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/ValidationError"
              }
            }
          }
        }
      }
    },
    "/auth/authenticate": {
      "post": {
        "tags": ["Auth"],
        "summary": "Login into an account",
        "description": "",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "format": "email"
                },
                "password": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/JWT"
            }
          },
          "401": {
            "description": "Invalid email/password"
          },
          "403": {
            "description": "Account is not active"
          }
        }
      }
    },
    "/auth/refresh-token": {
      "post": {
        "tags": ["Auth"],
        "summary": "Refreshes access token",
        "description": "",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "token": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "accessToken": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Token is invalid"
          }
        }
      }
    },
    "/auth/activate-account/{code}": {
      "get": {
        "tags": ["Auth"],
        "summary": "Actives user account",
        "description": "",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Activation code"
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "404": {
            "description": "Activation code not found"
          }
        }
      }
    },
    "/auth/remind-password": {
      "post": {
        "tags": ["Auth"],
        "summary": "Generates remind password email",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "format": "email"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Email has been sent"
          },
          "400": {
            "description": "Address email is invalid"
          },
          "404": {
            "description": "Email not found in DB"
          }
        }
      }
    },
    "/auth/reset-passord": {
      "post": {
        "tags": ["Auth"],
        "summary": "Resets user's password",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "password": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Payload is invalid"
          },
          "404": {
            "description": "Code not found"
          }
        }
      }
    },
    "/auth/delete-account": {
      "delete": {
        "security": [
          {
            "user_auth": []
          }
        ],
        "tags": ["Auth"],
        "summary": "Sends delete user account email",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/auth/delete-account-confirm": {
      "post": {
        "security": [
          {
            "user_auth": []
          }
        ],
        "tags": ["Auth"],
        "summary": "Sends delete user account email",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account has been deleted"
          },
          "400": {
            "description": "Code is invalid"
          },
          "401": {
            "description": "Code does not belong to the current user"
          },
          "404": {
            "description": "Code or account does not exist"
          }
        }
      }
    },
    "/auth/me": {
      "get": {
        "security": [
          {
            "user_auth": []
          }
        ],
        "tags": ["Auth"],
        "summary": "Returns info about current user",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/User"
            },
            "description": "Successful operation"
          }
        }
      },
      "post": {
        "security": [
          {
            "user_auth": []
          }
        ],
        "tags": ["Auth"],
        "summary": "Returns info about current user",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "surname": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                },
                "phone": {
                  "type": "string"
                },
                "countryCode": {
                  "type": "string"
                },
                "languageCode": {
                  "type": "string"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account has been updated"
          },
          "400": {
            "description": "Payload has errors"
          },
          "401": {
            "description": "JWT token in header is invalid"
          },
          "404": {
            "description": "JTW user does not exist in DB"
          }
        }
      }
    },
    "/group": {
      "post": {
        "security": [
          {
            "user_auth": []
          }
        ],
        "tags": ["Groups"],
        "summary": "Creates a new group",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "visibility": {
                  "type": "string"
                },
                "avatar": {
                  "type": "string"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "members": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Group"
            }
          },
          "400": {
            "description": "Validation errors",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/ValidationError"
              }
            }
          }
        }
      }
    },
    "/group/{slug}/join": {
      "get": {
        "tags": ["Groups"],
        "summary": "Allow user to join a group",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Unique group's slug"
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "User has no rights to join the group"
          },
          "404": {
            "description": "Group does not exist in db"
          }
        }
      }
    },
    "/group/{slug}/leave": {
      "get": {
        "tags": ["Groups"],
        "summary": "Allow user to leave a group",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Unique group's slug"
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "404": {
            "description": "Group does not exist in db"
          }
        }
      }
    },
    "/group/{slug}": {
      "get": {
        "tags": ["Groups"],
        "summary": "Returns group data",
        "description": "",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Unique group's slug"
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "404": {
            "description": "Group does not exist in db"
          }
        }
      },
      "post": {
        "security": [
          {
            "user_auth": []
          }
        ],
        "tags": ["Groups"],
        "summary": "Updates group data",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Unique group's slug"
          },
          {
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "visibility": {
                  "type": "string"
                },
                "avatar": {
                  "type": "string"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "members": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ],
        "description": "",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Group"
            }
          },
          "400": {
            "description": "Validation errors",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/ValidationError"
              }
            }
          },
          "404": {
            "description": "Group does not exist or user has no permission to change it"
          }
        }
      }
    },
    "/notifications/web-push": {
      "post": {
        "security": [
          {
            "user_auth": []
          }
        ],
        "tags": ["Notifications"],
        "summary": "Creates a new web push subscription",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "hash": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Validation errors",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/ValidationError"
              }
            }
          }
        }
      }
    },
    "/web-push/{hash}": {
      "get": {
        "security": [
          {
            "user_auth": []
          }
        ],
        "tags": ["Notifications"],
        "summary": "Checks if subscription exists",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Subscription hash"
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription exists",
            "schema": {
              "type": "object",
              "properties": {
                "hash": {
                  "type": "string"
                },
                "userAgent": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Subscription does not exist"
          }
        }
      },
      "delete": {
        "security": [
          {
            "user_auth": []
          }
        ],
        "tags": ["Notifications"],
        "summary": "Deletes subscription",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Subscription hash"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "404": {
            "description": "Subscription does not exist"
          }
        }
      }
    }
  },
  "definitions": {
    "User": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "surname": {
          "type": "string"
        },
        "email": {
          "type": "string",
          "format": "email"
        },
        "phone": {
          "type": "string",
          "format": "phone-number"
        },
        "countryCode": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "roles": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Group": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "slug": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "visibility": {
          "type": "string"
        },
        "avatar": {
          "type": "object",
          "properties": {
            "status": {
              "type": "string"
            },
            "files": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "JWT": {
      "type": "object",
      "properties": {
        "accessToken": {
          "type": "string"
        },
        "refreshToken": {
          "type": "string"
        }
      }
    },
    "ValidationErrorProperty": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "path": {
          "type": "string"
        }
      }
    },
    "ValidationError": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "properties": {
          "$ref": "#/definitions/ValidationErrorProperty"
        },
        "kind": {
          "type": "string"
        },
        "path": {
          "type": "string"
        }
      }
    }
  },
  "securityDefinitions": {
    "user_auth": {
      "type": "apiKey",
      "in": "header",
      "name": "x-access-token"
    }
  }
}
